@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

figure {
  margin: 0;
}

.img-flex {
  display: block;
  width: 100%;
}

figcaption {
  padding: 1rem;
  background-color: #e2e2e2;
}

h2 {
  font-family: "Denk One", sans-serif;
  margin: 0;
}

p {
  margin: 0;
  padding: .5rem 0;
}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  figure {
    overflow: hidden;
    position: relative;
  }

  figcaption {
    display: block;
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: #fff;
    background-color: rgba(0, 0, 0, .3);
    border-radius: 8px;
    width: 56%;
  }

  h2 {
    display: block;
  }

  p {
    display: block;
  }
}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  figcaption {
    width: 35%;
  }
}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
  }

  figcaption {
    width: 30%;
  }

  h2 {
    display: block;
  }

  p {
    display: block;
  }
}
